{% extends 'application/base.html' %}

{% block content %}

{% if produits %}
    {% for produit in produits %}
        <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
            <div class="card" style="width: 18rem;">
                <img src="{{ produit.photo.url }}" class="card-img-top" alt="{{ produit.designation }}">
                <div class="card-body">
                    <h5 class="card-title text-uppercase">{{ produit.designation }}</h5>
                    <p class="card-text">
                        {{ produit.caracteristique|linebreaksbr }}
                        <br><b>Prix: {{ produit.pv }} Fcfa</b>
                    </p>
                    <a target="_blank" href="https://api.whatsapp.com/send?phone=237651726743" class="btn btn-primary">
                        <i class="fa fa-whatsapp" aria-hidden="true"></i> Commander
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}
{% else %}
    <p>Aucun produit disponible.</p>
{% endif %}

{% endblock%}